.task {
  background-color: forestgreen;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 50vw;
}
.new-task-input {
  padding: 1rem;
  width: 100%;
}
.new-task-btn {
  padding: 1rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
